certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
docopt==0.6.1
docopts==0.6.1
halo==0.0.31
idna==2.10
Jinja2==2.11.3
log-symbols==0.0.14
MarkupSafe==1.1.1
multi-key-dict==2.0.3
pbr==5.5.1
pip-autoremove==0.9.1
python-jenkins==1.7.0
PyYAML==4.2b1
requests==2.25.1
six==1.15.0
spinners==0.0.24
termcolor==1.1.0
urllib3==1.26.3
xmltodict==0.12.0
